config ZMK_BISTABLE_BEHAVIOR
    bool "Bistable Behavior"
    depends on SETTINGS
    default y

if ZMK_BISTABLE_BEHAVIOR

config ZMK_BISTABLE_BEHAVIOR_MAX_HELD
    int "Maximum simultaneously held bistable keys"
    default 8
    range 1 32

config ZMK_BISTABLE_BEHAVIOR_DEFAULT_SLOT
    int "Default bistable slot"
    default 0
    range 0 1

endif

rsource "behaviors/Kconfig"
rsource "pointing/Kconfig"
rsource "shell/Kconfig"
